= simple_form_for @parent_entry do |f|
  = f.input :title
  = f.input :description

  = f.input :start_date, as: :flatpickr, placeholder: 'Start Date',
   input_html: { data: { controller: "flatpickr", flatpickr_date_format: "%B %d %Y", flatpickr_alt_input: true,
  flatpickr_alt_format: "%B %d %Y", flatpickr_default_date: f.object.start_date.present? ? f.object.start_date.strftime("%B %d %Y") : Time.current }}

  = f.input :end_date, as: :flatpickr, placeholder: 'Start Date',
  input_html: {data: { controller: "flatpickr", flatpickr_date_format: "%B %d %Y", flatpickr_alt_input: true,
  flatpickr_alt_format: "%B %d %Y", flatpickr_default_date: f.object.end_date.present? ? f.object.end_date.strftime("%B %d %Y") : Time.current.tomorrow }}

  .form-floating.mb-3{'data-controller': 'select2'}
    = f.select :event_type, ParentEntry.relationship_parent_event_types(current_user.relationship),
      {include_blank: false, required: true, include_hidden: false}, class: 'form-select select2'
    = f.label :event_type

  .mb-3= f.rich_text_area :content, class: 'form-control'


  = f.input :main_image, multiple: false


  = f.input :images, multiple: true

  .d-flex.justify-content-between
    = link_to 'Back', parent_entries_path,  class: 'btn btn-secondary'
    = f.button :submit, class: "btn-primary"