%p#notice= notice
#entry-show
  .card
    .card-body
      .d-flex.justify-content-between.align-items-center
        .card-title.d-flex.justify-content-start.align-items-baseline
          %h4= @entry.title
          .card-subtitle.text-muted.ps-2
            = @entry.start_date.strftime("%B %d, %Y")
        .action
          = link_to 'Edit', edit_entry_path(@entry)
          \|
          = link_to 'Back', entries_path
      .row
        .col-12.col-sm-6
          .card-text.text-muted
            = @entry.description

      .row.my-3
        .col
          .entry-content.card-text
            = @entry.content



      %br

      - if @entry.main_image.attached?
        = image_tag @entry.main_image.representation(resize_to_limit: [100, 100])

      %br

      - if @entry.images.attached?
        %ul
          - @entry.images.each do |image|
            %li
              - if image.representable?
                = image_tag image.representation(resize_to_limit: [100, 100])
              - else
                = link_to rails_blob_path(image, disposition: :attachment) do
                  = image_tag "placeholder.png", alt: "Download file"



