%p#notice= notice

%p
  %b Title:
  = @event.title
%p
  %b Description:
  = @event.description
%p
  %b Start date:
  = @event.start_date
%p
  %b End date:
  = @event.end_date
%p
  %b Event type:
  = @event.event_type
%p
  %b Status:
  = @event.status
%p
  %b User:
  = @event.user
%p
  %b Relationship:
  = @event.relationship
%p
  %b Event:
  = @event.event_id

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
