= simple_form_for [@parent_entry, @child_entry] do |f|
  = f.input :title
  = f.input :description

  = f.input :start_date, as: :flatpickr, placeholder: 'Start Date',
  input_html: { data: { controller: "flatpickr", flatpickr_date_format: "%B %d %Y", flatpickr_min_date: @parent_entry.start_date,
  flatpickr_max_date: @parent_entry.end_date, flatpickr_alt_input: true, flatpickr_alt_format: "%B %d %Y",
  flatpickr_default_date: f.object.start_date.present? ? f.object.start_date.strftime("%B %d %Y") : Time.current }}

  .form-floating.mb-3{'data-controller': 'select2'}
    = f.select :event_type, Entry.relationship_event_types(current_user.relationship),
      {include_blank: false, required: true, include_hidden: false}, class: 'form-select select2'
    = f.label :event_type

  .mb-3= f.rich_text_area :content, class: 'form-control'

  = f.input :main_image, multiple: false


  = f.input :images, multiple: true

  .d-flex.justify-content-between
    = link_to 'Back', parent_entry_path(@parent_entry), class: 'btn btn-secondary'
    = f.button :submit, "Update", class: "btn-primary"
