%p#notice= notice

%p
  %b Title:
  = @child_entry.title
%p
  %b Description:
  = @child_entry.description
%p
  %b Start date:
  = @child_entry.start_date
%p
  %b End date:
  = @child_entry.end_date
%p
  %b Entry type:
  = @child_entry.event_type
%p
  %b Type:
  = @child_entry.type
%p
  %b Status:
  = @child_entry.status
%br
%p
  = @child_entry.content

%br

- if @child_entry.main_image.attached?
  = image_tag @child_entry.main_image.representation(resize_to_limit: [100, 100])

%br

- if @child_entry.images.attached?
  %ul
    - @child_entry.images.each do |image|
      %li
        - if image.representable?
          = image_tag image.representation(resize_to_limit: [100, 100])
        - else
          = link_to rails_blob_path(image, disposition: :attachment) do
            = image_tag "placeholder.png", alt: "Download file"

= link_to 'Edit', edit_entry_child_entry_path(@entry, @child_entry)
\|
= link_to 'Back', entry_path(@entry)

